.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-wrapper {
  width: 500px;
  margin: 4rem auto 0;
  box-shadow: 0 15px 35px 0 rgb(60 66 87 / 8%), 0 5px 15px 0 rgb(0 0 0 / 12%);
  padding: 2rem 3rem 6rem;
  border-radius: 4px;
}

.form-header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #3c4257;
}

.form {
  display: flex;
  flex-direction: column;
  width: 404px;
  margin: 0 auto;
}

.form-input {
  height: 44px;
  padding: 0 16px;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-submit-button {
  background-color: #7cff5b;
  font-size: 1rem;
  border: 0;
  height: 44px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.form-error-text {
  margin-bottom: 1.5rem;
  color: #fe2c2c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
